a{
  color: black;
}
.navbar-mobile{
  background-color: #16b1b9;
}
.navbar-mobile-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.hamburger-menu{
  display: grid;
  grid-template-rows: 0fr;
  padding-bottom: 10px;
  transition: grid-template-rows 500ms ease;
}
.hamburger-menu.active{
  grid-template-rows: 1fr;
}
.hamburger-menu-icon{
  cursor: pointer;
}
.hamburger-menu-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.hamburger-menu-list > li{
  font-size: 1.2rem;
}
.hamburger-menu-list > li + li {
  margin-top: 5px;
}
.hamburger-menu-link:hover{
  color: white;
}
.hamburger-menu-list-item{
  height: 32px;
}
@media(min-width:769px){
  .navbar-mobile{
    display: none;
  }
}