a{
  color: black;
}
.navbar-mobile{
  background-color: #16b1b9;
}
.navbar-mobile-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.hamburger-menu{
  padding-bottom: 10px;
}
.hamburger-menu-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hamburger-menu-list > li{
  font-size: 1.2rem;
}
.hamburger-menu-list > li + li {
  margin-top: 5px;
}
.hamburger-menu-list-item > a{
  color: #fffb23;
}
.hidden{
  display: none;
}
@media(min-width:768px){
  .navbar-mobile{
    display: none;
  }
}