.showroom{
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 100%;
  max-height: 450px;
  margin-top: 20px;
  transition: translate 0.7s ease-in-out;
}
.showroom-hidden{
  display: none;
}
.showroom-img-wrapper{
  flex: 2;
}
.showroom-img{
  border-radius: 50px;
  margin-right: 20px;
  object-fit: cover;
  height: 100%;
}
.showroom-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
  padding: 20px;
  border-radius: 50px;
}
.showroom-info-transition{
  display: flex;
  justify-content: space-between;
}
.showroom-info-transition-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  transition: 0.1s ease;
}
.showroom-info-transition-btn:hover{
  color: #16b1b9;
  scale: 1.1;
}
.showroom-trns-btn-text{
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 500;
}
.showroom-info-more-btn{
  position: relative;
  background-color: #12949b;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 1px solid #16b1b9;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.showroom-info-more-btn:hover{
  background-color:white;
  color: #16b1b9;
  border: 1px solid #16b1b9;
}