.dropdown-item{
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.dropdown-item:hover{
  color: white;
}
.dropdown-menu{
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
}
.dropdown-menu-list{
  display: flex;
  flex-direction: column;
  width: max-content;
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
}
.dropdown-menu-list-item{
  padding: 0 5px;
  color: black;
}
.dropdown-menu-list-item:first-child:hover{
  border-radius: 9px 9px 0 0;
}
.dropdown-menu-list-item:last-child:hover{
  border-radius: 0 0 9px 9px;
}
.dropdown-menu-list-item:hover{
  background-color: #16b1b9;
  color: white;
}
.dropdown-menu-link{
  color: inherit;
}