.dropdown-item{
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.1s ease;
}
.dropdown-item:hover{
  color: white;
}
.dropdown-item-name{
  display: flex;
  align-items: center;
}
.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 0fr;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  visibility: hidden;
  transition: grid-template-rows 500ms ease, visibility 450ms ease;
}
.dropdown-menu.active{
  visibility: visible;
  grid-template-rows: 1fr;
}
.dropdown-menu-list{
  display: flex;
  flex-direction: column;
  width: max-content;
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
  overflow: hidden;
}
.dropdown-menu-list-item{
  padding: 3px 5px;
  color: rgb(0, 0, 0);
}
.dropdown-menu-list-item:first-child:hover{
  border-radius: 9px 9px 0 0;
}
.dropdown-menu-list-item:last-child:hover{
  border-radius: 0 0 9px 9px;
}
.dropdown-menu-list-item:hover{
  background-color: #16b1b9;
  color: white;
}
.dropdown-menu-link{
  color: inherit;
}
@media(max-width: 768px){
  .dropdown-item{
    margin-right: 0;
  }
  .dropdown-menu{
    position: relative;
    width: fit-content;
    color: #16b1b9;
  }
}