.navbar{
  background-color: #16b1b9;
}
.navbar-link{
  display: flex;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  list-style-type: none;
}
.navbar-link > li{
  margin-right: 20px;
}
.navbar-link-item > a{
  color: #fffb23;
  transition: 0.1s ease;
}
.navbar-link-item > a:hover{
  color: rgb(255, 255, 255);
}
@media(max-width:1024px){
  .navbar-link{
    font-size: 1rem;
  }
  .navbar-link > li{
    margin-right: 10px;
  }
}