.tour-catalog-header{
  text-align: center;
  margin: 0 0 10px 0;
}
.tour-grid{
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 20px;
}
@media(max-width: 425px){
  .tour-grid{
    grid-template-columns:
      repeat(auto-fit, minmax(250px, 1fr));
  }
}