*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img{
  width: 100%;
}
body{
  margin: 0;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
h1,h2,h3{
  margin: 0;
}
.container{
  width: min(90%, 1200px);
  margin: 0 auto;
}
@media(max-width: 1024px){
  .hideOnTablet{
    display: none;
  }
}
@media(max-width: 768px){
  .hideOnMobile{
    display: none;
  }
}
